body {
    font-family: Helvetica;
    margin: 0px;
    padding: 0px;
}

.navbar-brand {
    width: 100px;
    height: 35px;
    background-color: #0D28A6;
}

/* START CONTENT 1 SEWA & RENTAL MOBIL */
.headermain {
    background-color: #F1F3FF;
    overflow: hidden;
}

.cont1 .content1 .description {
    width: 34em;
}

.listcont2 li {
    position: relative;
    left: -35px;
    list-style: none;
    background: url(list.png) no-repeat left center;
    vertical-align: middle;
    margin-bottom: 8px;
    padding-right: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.listcont2 span {
    padding-left: 30px;
}

.contentcol2 {
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.cont1 img {
    width: 41em;
}

/* END CONTENT 1 */

/* START CONTENT 4 TESTIMONIAL */
#prevbutton {
    position: absolute;
    top: 22em;
    left: 45em;
}

#nextbutton {
    position: absolute;
    top: 22em;
    right: 46em;
}

/* END CONTENT 4 */

/* START CONTENT 5 SEWA MOBIL */
.subcont5 .col-lg-8 {
    border-radius: 20px;
    border: 2px solid #0D28A6;
}

.subcont5 .col-lg-8 p {
    color: rgba(255, 255, 255, 0.774);
}

.cont5 a:link {
    text-decoration: none;
}

/* END CONTENT 5 */


/* MEDIA QUERY */
@media (max-width: 575px) {

    .cont1 .content1 .description {
        width: 100%;
    }

    .cont1 img {
        width: 100%;
    }

    .cont1 .content1 a {
        margin-bottom: 2em;
    }

    #photo {
        padding: 3em;
    }

    .cont2 .contentcol2 span {
        font-size: 0.8em;
    }

    .cont2 img {
        width: 100%;
    }

    #titlecont3 {
        text-align: center;
    }

    .container4 {
        display: none;
    }

    .cont6 #kirifaq {
        text-align: center;
    }

}

@media (max-width: 768px) {
    .cont1 .content1 .description {
        width: 100%;
    }

    .cont5 ul {
        margin-left: -2em;
    }

    .cont5 #copyright {
        padding-top: 1em;
    }

    #titlecont3 {
        text-align: center;
    }

    .container4 {
        display: none;
    }
}

@media (max-width: 992px) {
    .cont1 .content1 .description {
        width: 100%;
    }

    .container4 {
        display: none;
    }

    #titlecont3 {
        text-align: center;
    }
}

@media (max-width: 1519px) {
    .cont1 .content1 .description {
        width: 100%;
    }

    .container4 {
        display: none;
    }
}


@media (min-width: 1520px) {
    .container4media {
        display: none;
    }
}